   <div class="row mt-5 w-75">
    <input type="text" class="form-control" [(ngModel)]=" searchValue">
     <h4>{{searchValue}}</h4>
   </div>
<div class="row">
    <div class="card col-lg-4 mx-2" style="width: 13rem; ">
    <a routerLink="/prouctsdetails">
        <img class="card-img-top" src=" https://th.bing.com/th/id/OIP.8IrjwAl8wjGZtBhqReW7xgHaHa?pid=ImgDet&rs=1" alt="Card image cap">
    </a>
        <div class="card-body">

          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>
          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.okPHK-lOk_E5nzOZsGx2dwHaFI?pid=ImgDet&rs=1 " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.GWkgoArgH9hezKMTX6buIgHaGk?pid=ImgDet&rs=1  " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.qUK2_XLwkA5LhLFqjI4wzwHaFj?pid=ImgDet&rs=1  " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src=" https://th.bing.com/th/id/OIP.Bi1v8XYQyNHTrqTl52YUtgHaGK?pid=ImgDet&rs=1" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.Odzj99oweTM5_-Bo6Am_PgHaEo?pid=ImgDet&rs=1 " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.71vJy-EwkMxIZG7PWUJ38AHaE7?pid=ImgDet&rs=1 " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
    </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src="https://th.bing.com/th/id/R.5b528b55c9e60428baf02d80e35d97e2?rik=F%2bjWfNJfOMuIMQ&pid=ImgRaw&r=0  " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>          
              <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>


          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src="https://th.bing.com/th/id/R.a3fdb7a627c3917ee14cd1fa8675b81c?rik=dPy3Luk%2fl7iJ1A&riu=http%3a%2f%2fwww.freelargeimages.com%2fwp-content%2fuploads%2f2014%2f12%2fDesktop_computer-3.jpg&ehk=oMtav1ljEWtMddbE5HOfYDbqLB71zjuNmu7%2b8stNbxU%3d&risl=&pid=ImgRaw&r=0 " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src=" https://th.bing.com/th/id/OIP.cwIVwyCm1TKlKFR--LQ39QHaHa?pid=ImgDet&rs=1  " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src=" https://th.bing.com/th/id/OIP.rux0RdNcuhWzYlHE21P68QHaHa?pid=ImgDet&rs=1  " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src=" https://th.bing.com/th/id/OIP.eFDCENoUdodDczipFl7oTwHaHa?pid=ImgDet&w=202&h=202&c=7&dpr=1.5" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src=" https://th.bing.com/th/id/R.b4370c2dc14647e2b7263e09d78be4c6?rik=iwuGzEyzlFRq3w&riu=http%3a%2f%2fcdn.windowsreport.com%2fwp-content%2fuploads%2f2017%2f12%2fsat-1024x1024.jpg&ehk=vMnQo6H33scUbctIvxFVayeiO8T5Wh%2bm5TPU2I3nhVE%3d&risl=&pid=ImgRaw&r=0 " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src=" https://th.bing.com/th/id/OIP.8IrjwAl8wjGZtBhqReW7xgHaHa?pid=ImgDet&rs=1" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src=" https://th.bing.com/th/id/OIP.8IrjwAl8wjGZtBhqReW7xgHaHa?pid=ImgDet&rs=1" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text"*ngIf="toggleData"  > Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success"(click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
      <div class="card col-lg-4 mx-2" style="width: 13rem; ">
        <img class="card-img-top" src=" https://th.bing.com/th/id/OIP.8IrjwAl8wjGZtBhqReW7xgHaHa?pid=ImgDet&rs=1" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> iphone 12 pro max</h5>
          <p class="card-text" *ngIf="toggleData"> Front camera's upgrade to autofocus (vs fixed focus)
            The A16 chip in Pro models only
            </p>
            <a href="#" class="btn btn-success" (click)="toggleDescription()"> hide details</a>

          <a href="#" class="btn btn-primary"> Buy</a>
        </div>
      </div>
 
</div>